/* основные стили */
:root {
	--text-color: #000000;
	--first-color: #24018f;
	--second-color: #8de2e1;
	---background-color: #ffffff;
}

body {
	font-family: "Arsenal", serif;
	font-weight: 400;
	font-size: 20px;
}

.container {
	max-width: calc(1024px + 30px * 2);
	margin: 0 auto;
	padding: 0 30px;
}

.logo {
	display: inline-block;
	width: 80px;
	height: 70px;
}

.button-common {
	background-color: var(--first-color);
	color: #ffffff;
	padding: 5px 25px;
	border-radius: 24px;
	transition: all ease-in-out 0.3s;
}

.button-common:hover {
	scale: 1.1;
}
/* ----------------------------- */

/* чтобы footer находился снизу */
body,
html {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: space-between;
}
/* ----------------------------- */

/* общие стили для формы логина и регистрации */
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__title {
	margin-bottom: 10px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: var(--first-color);
}

.form__button {
	color: #fefefe;
	font-size: 36px;
	font-weight: 700;
	background: #24018f;
	border-radius: 24px;
	padding: 8px 70px;
}

.form-wrapper .button-hovered:hover {
	opacity: 0.8;
}

.form-wrapper {
	max-width: 650px;
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
	margin: 20px 0;
}

.wrapper__content {
	padding: 20px 80px;
}

.wrapper__footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 80px 20px;
}

.form-wrapper::after {
	content: "";
	position: absolute;
}

.border {
	width: 100%;
	background-image: url("/src/img/border-dashed.svg");
	background-position: center;
	height: 1px;
}

.footer__title {
	text-align: center;
	margin-bottom: 15px;
}

.footer__button {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	background: #8ee2e2;
	border-radius: 24px;
	padding: 8px 20px;
}
/* ----------------------------- */
